[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
jinja2 = "*"
celery = "*"
django-celery-beat = "*"
fontawesomefree = "~=6.4"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"

[web-server]

[background-worker]
requests = "*"
beautifulsoup4 = "*"
