{% from 'ffxivws/common.html.jinja' import timezone_head, timezones_form %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <link rel="icon" href="{{ static('favicon/favicon_128.png') }}">
  <link rel="stylesheet" href="{{ static('style.css') }}">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <link href="{{ static('fontawesomefree/css/fontawesome.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ static('fontawesomefree/css/solid.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ static('fontawesomefree/css/regular.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ static('fontawesomefree/css/brands.min.css') }}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ static('tooltips.css') }}">
  <script src="{{ static('tooltips.js') }}"></script>
  {{- timezone_head() -}}
  {% block head_extra %}{% endblock %}
  <title>{% block title %}FFXIV World Status History{% endblock %}</title>
  {% endblock %}
</head>
<body>
  {% block navbar %}
  {% if navbar %}
  {% include 'ffxivws/navbar.html.jinja' %}
  {% endif %}
  {% endblock %}
  {% block header %}
  <header id="page-header">
    {% if show_header_title %}<h2 id="header-title">{% block header_title %}{% endblock %}</h2>{% endif %}
    {% if show_header_subtitle %}<h3 id="header-subtitle">{% block header_subtitle %}{% endblock %}</h3>{% endif %}
    {% block header_extra %}{% endblock %}
  </header>
  {% endblock %}
  <main {%- if main_id %} id="{{ main_id }}"{% endif %}>
    {% block main required %}{% endblock %}
  </main>
  {% block footer %}
  <footer id="page-footer">
    {{ timezones_form(csrf_input, timezones, current_tz, request.get_full_path()) }}
    {% block footer_extra %}{% endblock %}
  </footer>
  {% endblock %}
</body>
</html>