{% macro timezone_head() %}
  <link rel="stylesheet" href="{{ static('timezones.css') }}">
  <script src="{{ static('timezones.js') }}" defer></script>
{% endmacro %}

{% macro timezones_form(csrf_input, tz_list, current_tz, return_url) %}
{% set current_tz = current_tz|string %}
  <form id="timezone-form" action="{{ url('set_timezone') }}" method="post">
    {{ csrf_input }}
    <input type="hidden" name="redirect-to" value="{{ return_url }}">
    <label for="timezone-selector">Select timezone</label>
    <select id="timezone-selector" name="timezone">
     {% for tz in tz_list %}
      <option value="{{ tz }}"{% if tz == current_tz %} selected{% endif %}>{{ tz }}</option>
     {% endfor %}
    </select>
    <button id="timezone-local-btn" class="hidden" type="button"><span>Local</span></button>
    <button id="timezone-update-btn" type="submit"><span>Refresh</span></button>
  </form>
{% endmacro %}

{# World history block #}

{% macro world_history_head(world_states) %}
  <link rel="stylesheet" href="{{ static('worldhistory.css') }}">
  {# this script contains jinja injections #}
  <script type="module">
    import initWhJs from '{{ static("worldhistory.mjs") }}';
    $(document).ready(function() {
      const wstates = {{ world_states|safe }};
      initWhJs(wstates, "{{ url('snapshot_details', kwargs={'snap_id': 12345}) }}");
    });
  </script>
{% endmacro %}

{% macro bar_line_data(summary, attr_name, day) -%}
  day="{{ day }}" all-snapshots="{{ summary.snapshots|map(attribute='snapshot.id')|join(',') }}"
{%- endmacro %}

{% macro bar_line(summary, attr_name, day, is_today) %}
  {% if summary is none -%}
    <li class="history-bar-line{% if is_today %} today{% endif %} barcol-{{ attr_name }}-unknown" {{ bar_line_data(summary, attr_name, day) }}></li>
  {%- elif summary[attr_name]|length == 1 -%}
    <li class="history-bar-line{% if is_today %} today{% endif %} barcol-{{ attr_name }}-{{ (summary[attr_name]|first).value|string|lower }}" {{ bar_line_data(summary, attr_name, day) }}></li>
  {%- else -%}
    <li class="history-bar-line{% if is_today %} today{% endif %} split" {{ bar_line_data(summary, attr_name, day) }}>
     {% for val in summary[attr_name] %}
      <div class="barcol-{{ attr_name }}-{{ val.value|string|lower }}"></div>
     {% endfor %}
    </li>
  {%- endif %}
{% endmacro %}

{% macro history_bar(day_sums, attr_name, label, today) %}
  <span class="history-bar-label">{{ label }}</span>
  <ol class="history-bar {{ attr_name }}">
   {% for day, summary in day_sums %}
    {{ bar_line(summary, attr_name, day, day == today) }}
   {% endfor %}
  </ol>
{% endmacro %}

{% macro world_history_section(day_sums, world_id, today, header=none) %}
<div class="history-bars-section
    {%- if day_sums|length < 9 %} week
    {%- elif day_sums|length < 16 %} twoweek
    {%- elif day_sums|length < 32 %} month
    {%- else %} multmonth
    {%- endif -%}
" world-id="{{ world_id }}">
  {% if header %}
    {{ header }}
  {% endif %}
  {{ history_bar(day_sums, 'status', 'Status', today) }}
  {{ history_bar(day_sums, 'classification', 'Classification', today) }}
  {{ history_bar(day_sums, 'charcreate', 'Character creation', today) }}
  <div class="date-range">
    <p>Today</p>
    <div class="spacer"></div>
    <p>{{ day_sums|length - 1 }} days ago</p>
  </div>
</div>
{% endmacro %}

{% macro set_setting_form(csrf_input, redirect_to=none, form_class=none) %}
<form {% if form_class %}class="{{ form_class }}" {% endif -%} action="{{ url('settings') }}" method="post">
  {{ csrf_input }}
  {% if redirect_to %}<input type="hidden" name="redirect-to" value="{{ redirect_to }}">{% endif %}
  {{ caller() }}
</form>
{% endmacro %}

{% macro world_favorite_button(csrf_input, world_name, is_fav, enabled, redirect_to=none) %}
 {% call set_setting_form(csrf_input, redirect_to, 'world-fav-btn-form') %}
  <button class="world-fav-btn" title="Favorite world" {% if enabled %}type="submit" name="world-favs" value="{% if is_fav %}remove{% else %}add{% endif %}:{{ world_name }}"{% else %}disabled{% endif %}>
    <i class="{% if is_fav %}fa-solid{% else %}fa-regular{% endif %} fa-star"></i>
  </button>
 {% endcall %}
{% endmacro %}

{% macro world_history_title_with_favbtn(world_name, linkify_world_name, csrf_input, is_favorite, can_change_favorite, current_url) %}
<span class="world-title">
  <a {%- if linkify_world_name %} href="{{ url('world_history', kwargs={'world_name': world_name}) }}"{% endif %}>{{ world_name }}</a>
  {{ world_favorite_button(csrf_input, world_name, is_favorite, can_change_favorite, current_url) }}
</span>
{% endmacro %}

{# Snapshot block #}

{% macro snapshot_section(regions, regions_active) %}
  {% for reg_name, reg in regions.items() %}
   {% for dc_name, dc in reg.items() %}
    <section class="snapshot-dc-block{% if reg_name in regions_active %} shown{% endif %}" region-name="{{ reg_name }}">
      <h5 class="dc-title">{{ dc_name }}</h5>
      <ul class="dc-list">
       {% for ws in dc %}
        <li>
          <p class="world-name"><a href="{{ url('world_history', kwargs={'world_name': ws.world.name}) }}">{{ ws.world.name }}</a></p>
          <div class="world-icon regular world-icon-status-{{ ws.status|string|lower }}" tooltip-text="{{ ws.get_status_display() }}"></div>
          <div class="world-icon regular world-icon-charcreate-{{ ws.char_creation|string }}" tooltip-text="{{ ws.get_char_creation_display() }}"></div>
          <div class="world-icon regular world-icon-classification-{{ ws.classification|string|lower }}" tooltip-text="{{ ws.get_classification_display() }}"></div>
        </li>
       {% endfor %}
      </ul>
    </section>
   {% endfor %}
  {% endfor %}
{% endmacro %}
