{% extends "ffxivws/base.html.jinja" %}
{% from 'ffxivws/common.html.jinja' import snapshot_section %}

{% set show_header_title, show_header_subtitle = true, true %}
{% set main_id = 'snapshot-main' %}

{% block head_extra %}
<script>
  const rAbbr = {'North America': 'na', 'Europe': 'eu', 'Oceania': 'oc', 'Japan': 'jp'};
  let activeRegions = new Set();
  function updateDcs(updateUrl=false) {
    $('.snapshot-dc-block[region-name]').each((_, block) => {
      block = $(block);
      block.toggleClass('shown', activeRegions.has(block.attr('region-name')));
    });
    if (updateUrl) {
      const url = new URL(location);
      if (activeRegions.size == Object.keys(rAbbr).length) {
        url.searchParams.set('regions', 'all');
      } else {
        url.searchParams.set('regions', Array.from(activeRegions, e => rAbbr[e]).filter(e => e).join(','));
        url.search = decodeURIComponent(url.search);
      }
      history.replaceState({}, "", url);
    }
  }
  $(document).ready(function() {
    const buttons = $('.region-toggle[region-name]');
    buttons.each((_, button) => {
      button = $(button);
      const regionName = button.attr('region-name');
      if (button.hasClass('on')) {
        activeRegions.add(regionName);
      }
      button.on('click', _ => {
        if (activeRegions.delete(regionName)) {
          button.removeClass('on');
          updateDcs(true);
        } else {
          activeRegions.add(regionName);
          button.addClass('on');
          updateDcs(true);
        }
      });
    });
    updateDcs(false);
  });
</script>
{% endblock %}

{% block header_title %}{% block title %}Snapshot {{ snapshot.id }}{% endblock %}{% endblock %}

{% block header_subtitle %}
  <time datetime="{{ snapshot.timestamp.isoformat() }}">{{ '{t:%I}:{t:%M} {t:%p} | {t:%b} {t.day} {t.year}'.format(t=snapshot.timestamp.astimezone(current_tz)) }}</time>
{% endblock %}

{% block header_extra %}
  <div id="select-regions">
   {% for region_name, _ in regions.items() %}
    <button class="region-toggle{% if region_name in regions_active %} on{% endif %}" region-name="{{ region_name }}">{{ region_name }}</button>
   {% endfor %}
  </div>
  <noscript>Javascript must be enabled for buttons above to work</noscript>
{% endblock %}

{% block main %}
  {{ snapshot_section(regions, regions_active) }}
{% endblock %}