{% extends "ffxivws/base.html.jinja" %}
{% from 'ffxivws/common.html.jinja' import timezone_head, timezones_form %}

{% set show_header_title = true %}

{% block head_extra %}
{{- timezone_head() -}}
<script>
  let barBlockPopup = undefined;

  function createPopup(date, snapshotIds, snapsUrlBase, blockTag) {
    const newPopup = $(`<div class="details-popup"><p class="details-date">${date.toLocaleDateString()}</p></div>`);
    const snapsList = $('<ol class="snapshot-list"></ol>');
    if (snapshotIds.length) {
      for (const sid of snapshotIds) {
        snapsList.append($(`<li><a class="snapshots-link" href="${snapsUrlBase.replaceAll("12345", sid.toString())}">Snapshot ${sid}</a></li>`));
      }
    } else {
      snapsList.append($('<li>No snapshots</li>'))
    }
    snapsList.appendTo(newPopup);
    // Position the popup with CSS
    const blockPos = blockTag.position();
    newPopup.css({top: blockPos.top + blockTag.outerHeight(true), left: blockPos.left - 5});
    return newPopup;
  }
  function openPopup(popupTag, blockTag, click) {
    if (blockTag.hasClass('today')) {
      blockTag.css('transform', 'none');  // Transform breaks position and z-index for some reason
    }
    blockTag.append(popupTag);
    barBlockPopup = {popupTag: popupTag, parentTag: blockTag, click: click};
  }
  function closePopup() {
    if (barBlockPopup !== undefined) {
      barBlockPopup.popupTag.remove();
      if (barBlockPopup.parentTag.hasClass('today')) {
        barBlockPopup.parentTag.css('transform', '');
      }
      barBlockPopup = undefined;
    }
  }
  
  $(document).ready(function() {
    const snapsUrlBase = $('.history-bars-wrapper').attr('snaps-url');
    const barBlocks = $('.history-bars-wrapper ol.history-bar > li.history-bar-line');
    barBlocks.each(function() {
      const blockTag = $(this);
      const snapshotIds = blockTag.attr('all-snapshots').split(',').filter(s => s.trim());
      const date = new Date(blockTag.attr('day'));
      blockTag.click((e) => {
        // If clicked inside child popup, ignore click
        if (!blockTag.is(e.target) && $(e.target).parentsUntil(blockTag).is(function() {return this.classList.contains('details-popup');})) {
          return;
        }
        // Find existing child popup, if any
        const existingPopup = $('.details-popup', blockTag);
        if (existingPopup.length > 0) {
          if (barBlockPopup !== undefined && existingPopup.is(barBlockPopup.popupTag)) {
            closePopup();
          }
          existingPopup.remove();
        } else {
          // Remove existing popup if there is one open
          closePopup();
          // Create new popup element
          const newPopup = createPopup(date, snapshotIds, snapsUrlBase, blockTag);
          // Add popup to the DOM and save the state
          openPopup(newPopup, blockTag, true);
        }
      });
      blockTag.removeAttr('all-snapshots');
      blockTag.removeAttr('day');
    });
    $(window).click(event => {
      if (barBlockPopup === undefined) {
        return;
      }
      const popupDOM = barBlockPopup.popupTag[0];
      const parentDOM = barBlockPopup.parentTag[0];
      if (event.target !== popupDOM && event.target !== parentDOM && !$.contains(popupDOM, event.target) && !$.contains(parentDOM, event.target)) {
        closePopup();
      }
    });
  });
</script>
{% endblock %}

{% block title %}World {{ world.name }}{% endblock %}
{% block header_title %}{{ world.name }}{% endblock %}

{% macro bar_line_data(summary, attr_name, day) -%}
  day="{{ day }}" all-snapshots="{{ summary.snapshots|map(attribute='snapshot.id')|join(',') }}"
{%- endmacro %}

{% macro bar_line(summary, attr_name, day) %}
  {% if summary is none -%}
    <li class="history-bar-line{% if day == today %} today{% endif %} barcol-{{ attr_name }}-unknown" {{ bar_line_data(summary, attr_name, day) }}></li>
  {%- elif summary[attr_name]|length == 1 -%}
    <li class="history-bar-line{% if day == today %} today{% endif %} barcol-{{ attr_name }}-{{ (summary[attr_name]|first).value|string|lower }}" {{ bar_line_data(summary, attr_name, day) }}></li>
  {%- else -%}
    <li class="history-bar-line{% if day == today %} today{% endif %} split" {{ bar_line_data(summary, attr_name, day) }}>
     {% for val in summary[attr_name] %}
      <div class="barcol-{{ attr_name }}-{{ val.value|string|lower }}"></div>
     {% endfor %}
    </li>
  {%- endif %}
{% endmacro %}

{% macro history_bar(attr_name, label) %}
  <span class="history-bar-label">{{ label }}</span>
  <ol class="history-bar {{ attr_name }}">
   {% for day, summary in days %}
    {{ bar_line(summary, attr_name, day) }}
   {% endfor %}
  </ol>
{% endmacro %}

{% block main %}
  <main id="world-main">
    <div class="history-bars-wrapper
        {%- if days|length < 9 %} week
        {%- elif days|length < 16 %} twoweek
        {%- elif days|length < 32 %} month
        {%- else %} multmonth
        {%- endif -%}
    " snaps-url="{{ url('snapshot_details', kwargs={'snap_id': 12345}) }}">
      {{ history_bar('status', 'Status') }}
      {{ history_bar('classification', 'Classification') }}
      {{ history_bar('charcreate', 'Character creation') }}
      <div class="date-range">
        <p>Today</p>
        <div class="spacer"></div>
        <p>{{ days|length - 1 }} days ago</p>
      </div>
    </div>
  </main>

  <footer id="footer">
    {{ timezones_form(csrf_input, timezones, current_tz, request.get_full_path()) }}
  </footer>
{% endblock %}